*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
}
.sidebar{
    width: 500px;
    background: #232323;
    position: absolute;
    transition: 1s;
    left: -600px;
}
.active{
    left: 0;
}
input{
    padding: 5px;
}